table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active{
    background-color:dodgerblue;
    color:white;
}

.pagination a:hover:not(.active) {
    background-color:  #ddd;
}

body {
    margin: 0;
}

#changeColor {
    position: absolute;
    top :100px;
    background-color:lightblue;
    width:250px;
    height:250px;
}

#blueDiv {
    position: absolute;
    top :100px;
    background-color:blue;
    width:250px;
    height:250px;
}

#yellowDiv {
    position: absolute;
    top :100px;
    background-color:yellow;
    width:250px;
    height:250px;
}

#redDiv {
    position: absolute;
    top :100px;
    background-color:red;
    width:250px;
    height:250px;
}

#id {
    color:white;
}

#btnBot {
    position:relative;
    margin-top:100%;
    left:20%;
}

#myBtn {
    
    position: fixed;
    top: 20px;
    right: 30px;
    z-index:99;
    font-size:18px;
    border:none;
    outline:none;
    background-color:yellow;
    color:black;
    cursor:pointer;
    padding:15px;
    border-radius: 4px;

}

#down {
    border:none;
    outline:none;
    background-color:yellow;
    color:black;
    cursor:pointer;
    padding:15px;
    border-radius: 4px;
    font-size:18px;
    z-index:99;
    right: 30px;
     position: fixed;
     bottom:30px;
}

#down:hover{
    background-color:#ffff;
}


#myBtn:hover{
    background-color:#ffff;
}

#sample {
    background-color: green;
    color:white; padding:30px;
}

#sampleBod {
   background-color:lightgreen;
   padding:30px 30px 2500px;
}