.container {
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
}
th {
    height:30px;
    text-align:center;
    font-weight: 700;
}
td {
    height:80px;
    text-align:center;
}
.today {
    background: lightblue;
}
th:nth-of-type(7),td:nth-of-type(7){
    color: blue;
}
th:nth-of-type(1),td:nth-of-type(1){
    color: red;
}