table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active{
    background-color:dodgerblue;
    color:white;
}

.pagination a:hover:not(.active) {
    background-color:  #ddd;
}

body {
    margin: 0;
}

#changeColor {
    position: absolute;
    top :100px;
    background-color:lightblue;
    width:250px;
    height:250px;
}

#blueDiv {
    position: absolute;
    top :100px;
    background-color:blue;
    width:250px;
    height:250px;
}

#yellowDiv {
    position: absolute;
    top :100px;
    background-color:yellow;
    width:250px;
    height:250px;
}

#redDiv {
    position: absolute;
    top :100px;
    background-color:red;
    width:250px;
    height:250px;
}

#id {
    color:white;
}

#btnBot {
    position:relative;
    margin-top:100%;
    left:20%;
}

#container {
    
}